html {
	position: relative;
	min-height: 100%;
}

body {
	background-image: url("../images/naturalwhite.png");
	margin: 0 0 100px; /* bottom margin leaves room for footer*/
}

a {
	color: gray;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration:none;
	cursor: wait;

}
span {
	font-weight: bold;
	font-family: Georgia, Times, Times New Roman, serif;

}
h1 {
	font-family: Georgia, Times, Times New Roman, serif;
}

p {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}



input {
	border-radius: 8px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

label {
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		color: gray;
}

hr {
	color: gray;
}


#top {
	background-color: #ffffff; 
	width: 100%;
	margin-top: 0px;
	float:left;
	position: relative;
	height: 50px;
	line-height: 50px;
}

#logo {
	position: absolute;
	background-color: #4AAAA5;
	color: white;
	text-align: center;
	margin-left: 50px;
	width: 150px;
	height: 50px;
	line-height: 50px; 
	
}

#navigationBar {
	float: right;
	margin-right: 60px;
	color: grey;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
}

/*#header_name {
	background-color: #4AAAA5;
	height: 50px;
	width: 200px;
	text-align: vertical-align:middle;

}
*/
#main {
	float: left;
	width: 650px;
	background-color: #ffffff;
	color: #777777;
	margin-left: 50px;
	margin-right: 25px;
	margin-top: 25px;
}

#sidebar {
	float: left;
	width: 270;
	background-color: #ffffff;
	margin-top: 25px;
	margin-left: 10px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;

}

#footer {
	background: #666666;
	overflow: hidden; 
	left: 0;
	bottom: 0;
	width: 100%;
	position: absolute;

}

#content_holder {
	padding: 20px 20px 20px 20px;
}

#content_table{
	display: table;
	width: 100%;
}

#button {
	display: block;
	border: none;
	background-color: #4AAAA5;
	color: white;
	cursor: pointer;
	margin-left: 50%;
	padding: 10px 10px 10px 10px;
	/*border-radius: 8px;*/
	box-shadow: 2px 2px grey;
	border: none;
}

#button:hover{
	 -webkit-transform: scale(1.15);

}

#button:active{
	 transform: translateY(4px);
}



.project_1{
	position: relative;
	background-image: url('../images/hangman.png');
	background-size: cover;
	width:80px;
	height:80px;
	text-align: center;
}

.project_1A{
	position: absolute;
	background-color: #4AAAA5;
	color: white;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	height:20px;
	margin-top: 40px;
	margin-left: -10%;
	width: 120%;
	border-radius: 5px;
}

.project_2{
	position: relative;
	background-image: url('../images/trivia.jpg');
	background-size: cover;
	width:80px;
	height:80px;
	text-align: center;
}

.project_2A{
	position: absolute;
	background-color: #4AAAA5;
	color: white;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	height:20px;
	margin-top: 40px;
	margin-left: -10%;
	width: 120%;
	border-radius: 5px;
}

.project_3{
	position: relative;
	background-image: url('../images/controller.png');
	background-size: cover;
	width:80px;
	height:80px;
	text-align: center;
}

.project_3A{
	position: absolute;
	background-color: #4AAAA5;
	color: white;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	height:20px;
	margin-top: 40px;
	margin-left: -10%;
	width: 120%;
	border-radius: 5px;
}

.project_4{
	position: relative;
	background-image: url('../images/widget.png');
	background-size: cover;
	width:80px;
	height:80px;
	text-align: center;
}

.project_4A{
	position: absolute;
	background-color: #4AAAA5;
	color: white;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	height:20px;
	margin-top: 40px;
	margin-left: -10%;
	width: 120%;
	border-radius: 5px;
}


.project_5{
	position: relative;
	background-image: url('../images/rock_paper_scissor.png');
	background-size: cover;
	width:80px;
	height:80px;
	text-align: center;
}

.project_5A{
	position: absolute;
	background-color: #4AAAA5;
	color: white;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	height:20px;
	margin-top: 40px;
	margin-left: -10%;
	width: 120%;
	border-radius: 5px;
}
